

.About-text {
  font-weight: 600;
}
.About-info {
  color: rgb(104, 104, 104);
  letter-spacing: 0.4px;
  line-height: 2;
}
.About-image{
    height: 100%;
    width: 100%;
    border:6px solid #adadad;
    border-radius: 50%;
}