.About {
  margin-top: 10rem !important;
}

.About-text {
  font-weight: 600;
}
.About-info {
  color: rgb(104, 104, 104);
  letter-spacing: 0.4px;
  line-height: 2;
}
.About-image-container{
    text-align: center;
}
.About-image{
    height: 230px;
    width: 230px;
    border:6px solid #adadad;
    border-radius: 50%;
}